$base-font-size: 16px;

$accent: #6cad6b;
$neutral: #cec6c0;

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Raleway', sans-serif;
  font-size: $base-font-size;
  line-height: 1.75;
}

body {
  max-width: 1366px;
  margin: 0 auto 0;
}

body.scroll-lock {
  overflow: hidden;
}

a {
  color: $accent;
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0 0 0 20px;
}