.site-header {
  color: white;
  overflow: hidden;
  height: 70vh;
  min-height: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #3b3b3b;
  position: relative;
}

.site-header a {
  color: white;
  text-decoration: none;
}

.site-branding {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 4%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq-min-md {
    top: 0;
    left: auto;
    right: 0;
    transform: none;
    align-items: flex-end;
  }
}

.site-title {
  font-size: 48px;
  font-weight: 700;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
  margin: 0 0 10px 0;
  line-height: 1;

  @include mq-min-md {
    text-align: right;
  }
}

.site-description {
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
  margin: 0;
  font-weight: 700;

  @include mq-min-md {
    text-align: right;
  }
}

.site-entry-title {

  @include mq-min-md {
    display: inline-block;
    text-align: right;
    background-color: rgba(#000000, 0.75);
    max-width: 50%;
    padding: 10px;
  }
}

.site-header-filter {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(transparent, transparent 70%, black);
}