.site-header {
  background-color: #3b3b3b;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 60vh;
  min-height: unit(400);
  overflow: hidden;
  position: relative;
}

.site-header a {
  color: white;
  text-decoration: none;
}

.site-branding {
  bottom: unit(32);
  margin: 0 auto 0;
  position: absolute;

  @include mq-min-md {
    bottom: auto;
    margin: unit(96) auto 0;
    position: static;
  }
}

.site-title {
  font-size: unit(32);
  font-weight: 700;
  line-height: 1;
  margin: 0 0 unit(10) 0;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);

  @include mq-min-md {
    font-size: unit(48);
    text-align: right;
  }
}

.site-description {
  font-weight: 700;
  margin: 0;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);

  @include mq-min-md {
    text-align: right;
  }
}

.site-entry-title {

  @include mq-min-md {
    background-color: rgba(#000000, 0.75);
    display: inline-block;
    max-width: 50%;
    padding: unit(10);
    text-align: right;
  }
}

.site-header-filter {
  background: linear-gradient(transparent, transparent 70%, black);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}