.main-navigation {
  z-index: 2;

  @include mq-min-md {
    position: absolute;
    left: 0;
    bottom: 24px;
    // background-color: rgba(#000000, 0.75);
    min-width: 200px;
  }
}

.menu {

}

// nav li element, contains anchor link
.main-navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.main-navigation li {
  padding: 0;
  margin: 0;
  font-weight: 700;

  @include mq-min-md {
    padding: $d-std-pd/2 $d-std-pd/2 $d-std-pd/2 $d-std-pd;
    // border-bottom: 1px solid rgba(white, 0.5);
  }
}