.main-navigation {

  @include mq-min-md {
    position: absolute;
    left: 24px;
    top: 0;
    background-color: rgba(#000000, 0.75);
    min-width: 200px;
  }
}

.menu {

}

// nav li element, contains anchor link
.main-navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-navigation li {
  padding: 0;
  margin: 0;
  font-weight: 700;

  @include mq-min-md {
    padding: 12px;
    border-bottom: 1px solid rgba(white, 0.5);
  }
}